/*for all body elements accross pages sharing this css*/
body{
    background-image: url("/SoloPractice/images/936934.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*for all divs in classs navigationinbody*/

.navigationinbody{
    margin: 25px;
    border: 1pt black solid;
    padding: 15px;
}

.navigationinbody a{
    border: 2pt black solid;
}

.navigationinbody a:hover{
    background-color: blue;
    color: cornsilk;
}

/*for all divs in all pages with class navigationtop*/

/*.navigationtop{
    
}*/

.navigationtop ul{
    text-align: center;
    border: 1pt black solid;
    border-radius: 25px;
    background-color: black;
}

.navigationtop ul li{
    list-style-type: none;
    display: inline;
    padding-right: 25px;
}

.navigationtop ul li a{
    color: rgb(233, 52, 52);
}

.navigationtop ul li a:hover{
    background-color: lightseagreen;
    color: white;
    border-radius: 25px;
    max-width: 444px;
}

.navigationtop ul li a:hover a:active{
    border: none;
    outline: none;
}

.centerthisimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.centerthisimage{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/**/
#headltext{
    text-align: center;
    color: rgb(233, 52, 52);
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25px;
    font-size: large;
    font-style: italic;
}

#videolink{
    text-align: center;
    color: rgb(233, 52, 52);
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25px;
    font-size: large;
    font-style: italic;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 420;
    border: 2pt rgb(233, 52, 52) solid;
}



.introductorytext{
    opacity: .8;
    
}

.introductorytext p{
    text-align: center;
    border: 3pt solid; 
    border-color: black;
    border-radius: 10px;
    background-color: rgb(255, 67, 67);
    margin-right: 20%;
    margin-left: 20%;
}

.thecreators, .thecreatorss{
    opacity: .7;
}

.thecreators h3{
    margin-top: 5px;
    border: 3pt solid; 
    border-color: rgb(233, 52, 52);
    float: left;
    border-top: none;
    border-right: none;
    border-radius: 25px;
    margin-left: 7%;
    background-color: orange;
}

.thecreatorss h3{
    margin-top: 5px;
    border: 3pt solid; 
    border-color: rgb(233, 52, 52);
    float: right;
    border-top: none;
    border-left: none;
    border-radius: 25px;
    margin-right: 7%;
    text-align: center;
    background-color: orange;
}

/*styling span tag here:*/
.genre{
    text-decoration: line-through;

}

.danimageright{
    margin-top: 10px;
    width: auto;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    float: right;
    margin-right: none;
    padding-top:  30px;
}

.justinimageleft{
    margin-top: 10px;
    width: auto;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: none;
    padding-top: 30px;
    margin-left: 0px;
}

.justinimageleft{
    border: 2pt  rgb(233, 52, 52) solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

